.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Why your team needs a CI/CD workflow

    %h3 Continuous Integration
    %ul
      %li
        %b Detects errors as quickly as possible:
        fix problems while fresh in developers mind
      %li
        %b Reduces integration problems:
        smaller problems are easier to digest
      %li
        %b Avoid compounding problems:
        allows teams to develop faster, with more confidence

    %h3 Continuous Delivery
    %ul
      %li
        %b Ensures every change is releasable:
        test everything, including deployment, before calling it done
      %li
        %b Lowers risk of each release:
        makes releases “boring”
      %li
        %b Delivers value more frequently:
        reliable deployments mean more releases
      %li
        %b Tight customer feedback loops:
        fast and frequent customer feedback on changes
.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/blogimages/cicd_pipeline_infograph.png", alt: "CI/CD Overview", style: "margin-top: 40px;"
%hr.divider/
